.page__live {
  // Session Tiles
  .vid-img {
    height: 45vh;
    -webkit-transition: background-size 0.75s ease-in-out;
    transition: background-size 0.75s ease-in-out;
    h2 {
      position: absolute;
      font-size: 5vh;
      padding-bottom: 7vh;
      -webkit-transition: opacity 0.75s, padding-bottom 1s;
      transition: opacity 0.75s, padding-bottom 1s;
    }
    &.wf-cover {
      background: linear-gradient(
          180deg,
          rgba(127, 134, 136, 0) 0%,
          rgba(14, 17, 21, 1) 100%
        ),
        url("../img/wf-bg.jpg") center/100% no-repeat;
    }
    &.mm-cover {
      background: linear-gradient(
          180deg,
          rgba(127, 134, 136, 0) 0%,
          rgba(14, 17, 21, 1) 100%
        ),
        url("../img/mm-bg.jpg") center/100% no-repeat;
    }
    &:hover {
      h2 {
        opacity: 0;
        padding-bottom: 0;
      }
      .fa-play-circle {
        opacity: 1;
        transform: rotate(360deg);
        margin-top: 0;
      }
      // IDK why but the transitions break unless I do the whole thing
      &.wf-cover {
        background: linear-gradient(
            180deg,
            rgba(127, 134, 136, 0) 0%,
            rgba(14, 17, 21, 1) 100%
          ),
          url("../img/wf-bg.jpg") center/108% no-repeat;
      }
      &.mm-cover {
        background: linear-gradient(
            180deg,
            rgba(127, 134, 136, 0) 0%,
            rgba(14, 17, 21, 1) 100%
          ),
          url("../img/mm-bg.jpg") center/108% no-repeat;
      }
    }
  }

  .fa-play-circle {
    opacity: 0;
    margin-top: 30vh;
    font-size: 6vh;
    display: block;
    -webkit-transition: opacity 0.5s, transform 0.75s ease-in-out,
      margin-top 0.5s ease-in-out;
    transition: opacity 0.5s, transform 0.75s ease-in-out,
      margin-top 0.5s ease-in-out;
  }
  .embed-panel {
    display: none;
  }
}
