.page__live {
  #live-header {
    h1 {
      font-size: 6vh;
      border: 4px solid white;
      border-radius: 8px;
      width: fit-content;
      padding: 1vh 3vh;
      color: #1C2B23;
      background-color: white;
    }
  }
  button {
  width: 50%;
  font-size: 2.5vh;
  }
  .fifty-img {
    &.wf-cover {
      background-image: url('../img/wf_cover.png')
    }
    &.mm-cover {
      background-image: url('../img/mm_cover.png')
    }
  }
  .row {
    &.session {
      margin-bottom: 6vh;
    }
  }
  .fa-play-circle {
    font-size: 6vh;
  }
  .embed-responsive-16by9 {
    display: none;
  }
}