nav {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 3vh;
  margin: 1vh;
  .socials {
    i {
      font-size: 4vh;
      margin: auto 1vh;
    }
  }
  a.navbar-brand {
    font-size: 4.5vh;
    border: 4px solid $white;
    border-radius: 8px;
    width: fit-content;
    padding: 1vh 3vh;
    color: $grade-at-top;
    background-color: $white;
  }
  a:hover {
    opacity: .75;
  }
}