nav {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 3vh;
  margin-bottom: 4vh;
  .socials {
    i {
      font-size: 4vh;
      margin: auto 1vh;
    }
  }
  a.navbar-brand {
    font-size: 4.5vh;
  }
  a:hover {
    opacity: .75;
  }
}