// Imports
@import "breakpoints.scss";
@import "live.scss";
@import "nav.scss";
@import "links.scss";

// General overrides
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,41,51,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,41,51,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,41,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#212933",GradientType=1);
  background-repeat: no-repeat;
  color: white;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}
a {
  color: inherit;
  &:hover {
    // transform: scale(1.1);
    color: inherit;
    text-decoration: none;
  }
  &.navbar-brand {
    font-size: 6vh;
    @include breakpoint(phone) {
      font-size: 4vh;
    }
  }
}
h1, h2, h3, h4 {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 10vh;
}
hr {
  border: 2px solid white;
  width: 35%;
}
p {
  font-size: 1.85vh;
}
button {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 14px;
  font-size: 2vh;
  padding: 1vh;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  width: 100%;
  &:hover {
    color: rgb(0,0,0);
    background-color: white;
  }
}

//General section styles
section {
  margin: 5vh 2vh;
  &:first-of-type {
    margin-top: 0;
  }
}
.anim {
  opacity: 0;
}

// Footer
footer {
  margin-bottom: 4vh;
  i {
    font-size: 4vh;
    margin: 0 3vh;
  }
}

@keyframes  anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
