.page__live button {
  width: 50%;
  font-size: 2.5vh;
}

.page__live .vid-img {
  height: 45vh;
}

.page__live .vid-img h2 {
  position: absolute;
  font-size: 5vh;
  margin-bottom: 2vh;
}

.page__live .vid-img.wf-cover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(127, 134, 136, 0)), to(#0e1115)), url("../img/wf-bg.jpg") center/100% no-repeat;
  background: linear-gradient(180deg, rgba(127, 134, 136, 0) 0%, #0e1115 100%), url("../img/wf-bg.jpg") center/100% no-repeat;
  -webkit-transition: background-size 2s ease-in;
  transition: background-size 2s ease-in;
}

.page__live .vid-img.mm-cover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(127, 134, 136, 0)), to(#0e1115)), url("../img/mm-bg.jpg") center/100% no-repeat;
  background: linear-gradient(180deg, rgba(127, 134, 136, 0) 0%, #0e1115 100%), url("../img/mm-bg.jpg") center/100% no-repeat;
  -webkit-transition: background-size 2s ease-in;
  transition: background-size 2s ease-in;
}

.page__live .vid-img:hover {
  background-size: 115%;
}

.page__live .fa-play-circle {
  font-size: 6vh;
  display: block;
}

.page__live .embed-responsive-16by9 {
  display: none;
}

nav {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 3vh;
  margin: 1vh;
}

nav .socials i {
  font-size: 4vh;
  margin: auto 1vh;
}

nav a.navbar-brand {
  font-size: 4.5vh;
  border: 4px solid white;
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh 3vh;
  color: #1F2630;
  background-color: white;
}

nav a:hover {
  opacity: .75;
}

body.links {
  height: 100vh;
}

body.links .link-header {
  font-size: 3.25vh;
  margin: 2vh 0;
}

body.links hr {
  width: 35%;
}

body.links button.link-butt {
  font-size: 3vh;
  border-width: 5px;
  margin-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(#212933));
  background: linear-gradient(0deg, black 0%, #212933 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#212933",GradientType=1);
  background-repeat: no-repeat;
  color: white;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a.navbar-brand {
  font-size: 6vh;
}

@media (max-width: 414px) {
  a.navbar-brand {
    font-size: 4vh;
  }
}

h1, h2, h3, h4 {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 10vh;
}

hr {
  border: 2px solid white;
  width: 35%;
}

p {
  font-size: 1.85vh;
}

button {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 14px;
  font-size: 2vh;
  padding: 1vh;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  color: black;
  background-color: white;
}

section {
  margin: 5vh 2vh;
}

section:first-of-type {
  margin-top: 0;
}

.anim {
  opacity: 0;
}

footer {
  margin-bottom: 4vh;
}

footer i {
  font-size: 4vh;
  margin: 0 3vh;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */