// Imports
@import "breakpoints.scss";

// General overrides
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,41,51,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,41,51,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(33,41,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#212933",GradientType=1);
  background-repeat: no-repeat;
  color: white;
  font-family: 'Lato', sans-serif;
}
nav {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 3vh;
  a:hover {
    opacity: .75;
  }
}
a {
  color: inherit;
  &:hover {
    transform: scale(1.1);
    color: inherit;
    text-decoration: none;
  }
  &.navbar-brand {
    font-size: 6vh;
    @include breakpoint(phone) {
      font-size: 4vh;
    }
  }
}
h1, h2, h3, h4 {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 10vh;
}
hr {
  border: 3px solid white;
  width: 50%;
}
button {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 14px;
  font-size: 2vh;
  padding: 1vh;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  width: 100%;
  &:hover {
    color: rgb(0,0,0);
    background-color: white;
  }
}

//General section styles
section {
  margin: 5vh 2vh;
  &:first-of-type {
    margin-top: 0;
  }
}

// 5050 styles
.fifty-img {
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 6px solid white;
  border-radius: 14px;
  .live-at-ks, .band-name {
    position: absolute;
    h3 {
      font-size: 5vh;
    }
  }
  .live-at-ks {
    top: 3vh;
    left: 3vh;
  }
  .band-name {
    bottom: 2vh;
    right: 3vh;
  }
  &.sessions-cover {
    &.man-mountain {
      background-image: url('../img/MM_Cover.png');
    }
    &.pray-for-sound {
      background-image: url('../img/pfs_cover.png');
    }
  }
  &.studio-cover {
    background-image: url('../img/studio-cover.jpg')
  }
  &.live-cover {
    background-image: url('../img/live-cover.jpg')
  }
  &.practice-cover {
    background-image: url('../img/practice-cover.jpg')
  }
}
.fifty-blurb {
  padding: 0 4vh;
  margin: auto 0;
}

// Header section styles
#header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  &.vertical-center {
    display: flex;
    align-items: center;
  }
}
.anim {
  opacity: 0;
}

.session-row {
  margin-bottom: 3vh;
}

// Footer
footer {
  margin-bottom: 4vh;
  i {
    font-size: 4vh;
    margin: 0 3vh;
  }
}

@keyframes  anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}